@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    position: relative;
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border: solid hsl(216, 50%, 16%) 1.5rem;
    width: 33rem;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem black;
}

.image {
    border-radius: .6rem;
    z-index: 10;
}

.card-title {
    text-align: left;
    padding-left: .8rem;
}

.card-title {
    color: #fff;
}

.title {
    font-size: 2.5rem;
    padding: 1rem 0;
}

.paragraph {
    font-size: 1.8rem;
    padding-bottom: 1.8rem;
    color: rgba(255, 255, 255, .4);
}

.price-time {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: solid 2px rgba(255, 255, 255, .2);
}

.eth {
    display: flex;
    justify-content: space-around;
}

.eth p {
    padding-left: .5rem;
    color: cyan;
}

.time {
    display: flex;
}

.time p {
    padding-left: .5rem;
}

.author {
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .4);
    padding-top: 1rem;
}

.author img {
    border: 1px solid white;
    border-radius: 5rem;
}

.author p {
    padding-top: 1.8rem;
    padding-left: 1.3rem;
}

.name {
    color: #fff;
}


.image-hover svg {
    position: relative;
    bottom: 16rem;
    left: 15rem;
    z-index: -1;
}